{% extends 'secnet/base.html.twig' %}

{% block style %}
<style media="screen">
  #bodyWrapper {
    margin-top: 10px;
  }
  .modal {
    max-height: 100%;
    width: fit-content;
  }
  .modal .modal-content {
    padding: 0;
    line-height: 0;
    overflow: hidden;
  }
  .modal-content > img {
    height: 90vh;
    margin: auto;
  }
  .hidden {
    display: none;
  }
  .datatable {
    margin: 0 !important;
    width: 100% !important;
  }
</style>
{% endblock %}

{% block body %}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<div class="row">

  <div class="col s12">
    {% if app.request.get("s") == "c1" %}
      <script type="text/javascript">
        M.toast({html: 'Loadout created!', displayLength: 2000, classes: "green"})
      </script>
    {% elseif app.request.get("s") == "d1" %}
      <script type="text/javascript">
        M.toast({html: 'Loadout deleted!', displayLength: 2000, classes: "red"})
      </script>
    {% endif %}
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#publictab">Public</a></li>
      <li class="tab col s3"><a href="#personaltab">Personal</a></li>
      <li class="tab col s3 disabled"><a href="#themedtab">Themed</a></li>
    </ul>
  </div>
  <div id="publictab" class="col s12">
    <div class="card-panel white black-text">
      <h4>Public Loadouts</h4>
      <hr>
      <table class="datatable">
        <thead>
          <tr>
            <th>CODE</th>
            <th>PARENT</th>
            <th>FACTION</th>
            <th>NAME</th>
            <th>CAMO</th>
            <th class="hidden">TERRAINS</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
          </tr>
        </thead>
        <tbody>
          {% for x in loadouts.public %}
            <tr>
              <td><a href="/api/loadout/{{x.code}}" target="_blank">{{x.code}}</a></td>
              <td><a href="/api/loadout/{{x.parent}}" target="_blank">{{x.parent}}</a></td>
              <td>{{x.faction}}</td>
              <td>{{x.name}}</td>
              <td><span class="tooltipped" data-position="left" data-tooltip="{{x.terrains}}">{{x.camo}}</span></td>
              <td class="hidden">{{x.terrains}}</td>
              <td style="max-width: 25vw;">{% filter markdown %}{{x.description}}{% endfilter %}</td>
              <td style="max-width: 10vw;"><a class="modal-trigger" href="#modal-{{x.code}}"><img class="responsive-img" src="{{x.image}}" style="max-height: 15vh;"></a></td>
            </tr>
            <div id="modal-{{x.code}}" class="modal">
              <div class="modal-content">
                <img class="responsive-img" src="{{x.image}}">
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="personaltab" class="col s12">
    <div class="card-panel white black-text">
      <div>
        <h4 style="display:inline-block;">Personal Loadouts</h4>
        <div style="float: right;">
          <a class="waves-effect waves-light btn green" href="/secnet/loadouts/create"><i class="material-icons left">add</i>Create</a>
        </div>
      </div>
      <hr>
      <table class="datatable">
        <thead>
          <tr>
            <th>STATUS</th>
            <th>CODE</th>
            <th>PARENT</th>
            <th>FACTION</th>
            <th>NAME</th>
            <th>CAMO</th>
            <th class="hidden">TERRAINS</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          {% for x in loadouts.personal %}
            <tr>
              <td>approved</td>
              <td><a href="/api/loadout/{{x.code}}" target="_blank">{{x.code}}</a></td>
              <td><a href="/api/loadout/{{x.parent}}" target="_blank">{{x.parent}}</a></td>
              <td>{{x.faction}}</td>
              <td>{{x.name}}</td>
              <td><span class="tooltipped" data-position="left" data-tooltip="{{x.terrains}}">{{x.camo}}</span></td>
              <td class="hidden">{{x.terrains}}</td>
              <td style="max-width: 25vw;">{% filter markdown %}{{x.description}}{% endfilter %}</td>
              <td style="max-width: 10vw;"><a class="modal-trigger" href="#modal-{{x.code}}"><img class="responsive-img" src="{{x.image}}" style="max-height: 15vh;"></a></td>
              <td>
                <a class="waves-effect waves-light btn blue disabled"><i class="material-icons left">edit</i>Edit</a>
                <a class="waves-effect waves-light btn red" href="/api/user/loadout/{{x.code}}/delete?redirect=n4db3n"><i class="material-icons left">remove</i>Delete</a>
              </td>
            </tr>
            <div id="modal-{{x.code}}" class="modal">
              <div class="modal-content">
                <img class="responsive-img" src="{{x.image}}">
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="themedtab" class="col s12"></div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options = {
      "startingTop":"0%",
      "endingTop":"0%"
    };
    var instances = M.Modal.init(elems, options);
  });

  $(document).ready( function () {
      $('.datatable').DataTable();
  } );
</script>

{% endblock %}
